@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  background: #ffffff;
  color: #080808;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #898989;
}
